<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/add.css">
</head>
<body>
    <h1 th:text="${title}"></h1>
    <form th:action="@{/add}" th:object="${form}" method="post">
        <input th:if="${title == '商品編集'}" type="hidden" name="id" th:field="*{id}" />
        <p>品名: <input type="text" th:field="*{hinmei}" required /></p>
        <p>原価: <input type="text" th:field="*{genka}" required /></p>
        <p><input type="submit" value="送信" /></p>
    </form>
</body>
</html>
