<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/zaiko.css">
</head>
<body>
    <h1 th:text="${title}"></h1>
    <h6 th:text="${shohin.hinmei}"></h6>
    <table th:if="${list.size>0}" border="1">
        <tr>
            <th>id</th>
            <th>数量</th>
            <th>日</th>
            <th>単価</th>
            <th>削除</th>
            <th>編集</th>
        </tr>
        <tr th:each="b: ${list}">
            <td th:text="${b.id}"></td>
            <td th:text="${b.buyQuantity}"></td>
            <td th:text="${b.buyTime}"></td>
            <td th:text="${b.buyPrice}"></td>
            <td>
                <a th:href="@{/buy/{shohinId}/delete/{id}(shohinId=${shohin.id},id=${b.id})}"
                   th:onclick="return confirm('本当に削除しますか？');">削除</a>
            </td>
            <td>
                <a th:href="@{/buy/{shohinId}/change/{id}(shohinId=${shohin.id},id=${b.id})}">編集</a>
            </td>
        </tr>
    </table>
    <p><a th:href="@{/buy/{shohinId}/addBuy(shohinId=${shohin.id})}">追加</a></p>
    <a th:href="@{/}">mainMenu</a>
</body>
</html>
