<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/zaiko.css">
</head>
<body>
	 <form th:action="@{/search}" method="post">
		  <p>名前の検索<input type="text" name="key"/>
		  <input type="submit"value="検索"/></p>
		   </form> 
    <h1 th:text="${title}"></h1>
    <table th:if="${list.size>0}" border="1">
        <tr>
            <td>id</td>
            <td>品名</td>
            <td>詳細</td>
            <td>編集</td>
            <td>売り</td>
            <td>仕入れ</td>
        </tr>
        <tr th:each="e : ${list}">
            <td th:text="${e.id}"></td>
            <td th:text="${e.hinmei}"></td>
            <td><a th:href="@{/detail/{id}(id=${e.id})}">詳細</td>
            <td><a th:href="@{/change/{id}(id=${e.id})}">編集</a></td>
            <td><a th:href="@{/sell/{shohinId}(shohinId=${e.id})}">売り</a></td>
            <td><a th:href="@{/buy/{shohinId}(shohinId=${e.id})}">仕入れ</a></td>
        </tr>
    </table>
    <p><a th:href="@{/add}">商品追加</a></p>
    <p><a th:href="@{/}">mainMenu</a></p>
</body>
</html>
